section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 25px 0;
}

h1, h3, h4 {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2vw;
    margin-bottom: 30px;
}

p {
    font-weight: bold;
}

p>span {
    font-weight: normal;
}

aside {
    line-height: 20px;
}

form>label {
    margin-bottom: 7px 0;
}

img {
    margin-top: 20px;
}

#booking-preview {
    margin: 15px 0;
    line-height: 20px;
}

#booking-preview p {
    font-weight: normal;
}

#booking-preview span {
    font-weight: bold;
}

main {
    min-height: 65vh;
}

#del-space-msg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}