html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Our style starts here */

body {
  background-color: #F4F0E9;
  font-family: 'Didact Gothic', sans-serif;
  color:  #424242;
}

main {
  margin: 0 50px;
}

footer {
  bottom: 0;
  height: 80px;
  margin-top: 3vh;
}

footer h6 {
  color: #424242;
}

a {
  color:#424242;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color:#424242;
}

a:active {
  color:#424242;
}

form {
  text-align: center;
}

form input {
  margin: 10px 5px;
  border-radius: 5px;
}

form input:focus {
  border: 3px solid #3d7065;
  margin: 9px 4px;
}

form input[type="number"]::placeholder, form input[type="email"]::placeholder, form input[type="text"]::placeholder, form input[type="password"]::placeholder {  
  text-align: center; 
} 

.layout {
  color: #F4F0E9;
  background-color:  rgba(20, 54, 50, 0.6);
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.layout h3 {
  font-size: 3.5vw;
}

.layout-profile-pic {
  width: 70px;
  height: 70px;
  border: 5px solid #E4AB51;
  border-radius: 50%;
}

.space-card {
  width: 300px;
  height: 150px;
  border: 2px solid  rgba(20, 54, 50, 0.5);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.space-card:hover {
  border: 5px solid rgba(20, 54, 50, 0.7);
  width: 306px;
  height: 156px;
  margin: 4px;
}

.space-card h3 {
  font-weight: bold;
}

.space-card p {
  font-size: 0.8em;
}

.space-card img {
  border: 1px solid black;
}

.space-card hr {
  color: gray;
}

.click-btn {
  width: 100px;
  height: 50px;
  background-color: #E4AB51;
  font-size: 1.2em;
  border-radius: 7px;
  font-family: 'Didact Gothic', sans-serif;
  margin-top: 20px;
}

.click-btn:active {
  width: 97px;
  height: 47px;
}

.nonclick-btn {
  width: 100px;
  height: 50px;
  /* background-color: #E4AB51; */
  font-size: 1.2em;
  border-radius: 7px;
  font-family: 'Didact Gothic', sans-serif;
  margin-top: 20px;
}


#search-form {
  background-color: rgba(20, 54, 50, 0.7);
  color: #F4F0E9;
  padding: 95px 25px 97px 25px;
  text-align: center;
  width: 25%;
  height: 220px;
  border-radius: 10px;
}

#faq {
  font-size: 1.5vw;
  font-weight: bold;
}

#layout-header {
  height: 120px;
  margin-bottom: 3vh;
  font-size: 3vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#login-header-div {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#home-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#intro-text {
  margin: 30px;
}

#search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#space-container {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#provider-ad {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#provider-ad p {
  margin-bottom: 30px;
}

#become-provider-btn {
  width: 450px;
  height: 100px;
  text-align: center;
  background-color: #A4463B;
  color: #F4F0E9;
  padding: 30px 0 15px;
  font-size: 3vw;
  font-weight: bold;
  border-radius: 10px;
}

#home-hr {
  margin: 50px auto;
  width: 70%;
}

#avail-today-flag {
  background-color: #CA5548;
  border: 1px solid black;
  border-radius: 7px;
  color: black;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}

#auth-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 290px 0;
}

#auth-container section {
  text-align: center;
  height: 63.5vh;
}

#auth-container h1 {
  margin: 25px 0 10px;
}

#auth-container form {
  color: black;
  margin-top: 30px;
}



#error-msg {
  background-color: #E4AB51;
  padding: 30px 20px;
  width: 150px;
  border: 3px solid #CA5548;
  border-radius: 7px;
  color: black;
  font-weight: bold;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 1.5em;
}